* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 18%);
    justify-content: center;
    background: linear-gradient(90deg, #333 0%, #444 35%, #111 100%);
    min-height: 100vh;
    padding: 15px;
    gap: 25px;
    > .col {
        > div {
            background-color: #fff;
            margin: 30px 5px;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            transition: 0.2s transform;
            -moz-transition: 0.2s transform;
            -ms-transition: 0.2s transform;
            -o-transition: 0.2s transform;
            -webkit-transition: 0.2s transform;
            cursor: pointer;
            &:hover {
                transform: scale(1.05);
                -webkit-transform: scale(1.05);
                -moz-transform: scale(1.05);
                -ms-transform: scale(1.05);
                -o-transform: scale(1.05);
            }
            &:active {
                transform: scale(0.96);
                -webkit-transform: scale(0.96);
                -moz-transform: scale(0.96);
                -ms-transform: scale(0.96);
                -o-transform: scale(0.96);
            }

            > img {
                width: 100%;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }
            > div {
                font-family: "Roboto", sans-serif;
                margin: 10px 8px;
                font-size: 16px;
                color: #444;
            }
        }
    }
}
