* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 18%);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(#333), color-stop(35%, #444), to(#111));
  background: -webkit-linear-gradient(left, #333 0%, #444 35%, #111 100%);
  background: -o-linear-gradient(left, #333 0%, #444 35%, #111 100%);
  background: linear-gradient(90deg, #333 0%, #444 35%, #111 100%);
  min-height: 100vh;
  padding: 15px;
  gap: 25px;
}
.main > .col > div {
  background-color: #fff;
  margin: 30px 5px;
  padding: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: 0.2s -webkit-transform;
  transition: 0.2s -webkit-transform;
  -o-transition: 0.2s -o-transform;
  transition: 0.2s transform;
  transition: 0.2s transform, 0.2s -webkit-transform, 0.2s -o-transform;
  -moz-transition: 0.2s transform;
  -ms-transition: 0.2s transform;
  -o-transition: 0.2s transform;
  -webkit-transition: 0.2s transform;
  cursor: pointer;
}
.main > .col > div:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.main > .col > div:active {
  transform: scale(0.96);
  -webkit-transform: scale(0.96);
  -moz-transform: scale(0.96);
  -ms-transform: scale(0.96);
  -o-transform: scale(0.96);
}
.main > .col > div > img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.main > .col > div > div {
  font-family: "Roboto", sans-serif;
  margin: 10px 8px;
  font-size: 16px;
  color: #444;
}/*# sourceMappingURL=style.css.map */